/* 
WOO CUSTOM STYLESHEET
---------------------

Instructions:

Add your custom styles in this file instead of style.css so it 
is easier to update the theme. Simply copy an existing style 
from style.css to this file, and modify it to your liking. */


/* 
GLOBAL STYLES
----------------
Add styles beneath this line that you want to be applied across your entire site */


/* 
DESKTOP STYLES
-----------------
Add styles inside the media query below that you only want to be applied to the desktop layout of your site */


/* 
COLOURS USED
------------
Keep a reference for easy updates 
TODO: Update to .less mixins

@bgrPage: 		rgb(182, 213, 215); 	//
@bgrContent: 	rgba(255, 255, 255, 0.85); 	// 
@bgrFooter: 	rgba(0,0,0,0.2); 		// 
@bgrFeature:    rgb(219, 234, 235);     //

@bodyColor; 	#000;
@contentBlue: 	rgb(0, 51, 204); 		// #03C
@contentGreen: 	rgb(0, 153, 0); 		// #090
@contentRed: 	rgb(255, 51, 51); 		// #F33

// Headings:
@headingBlue: 	@contentBlue; 
@headingGreen: 	@contentGreen;

// Buttons and Navigation
@bgrnavigation: rgba(128, 213,215,0.7); // 
@navColour: 	rgb(0, 83, 94); 		// #00535E

@buttonColor:   rgba(0,0,0,0.2);

@footerGreen: 	@navColour;

*/


@media only screen and (min-width: 768px) {

    #content #main {
        width:  94%;
        padding: 1.5em 3% 0 3%;
    }


    /* Header */
    #header {
        border-bottom: none;
        margin-top: 3.631em;
    }


	/* Navigation and Cart */
    .admin-bar #top, 
    .admin-bar #header #navigation {
        top: 2em;
    }    

    /* CART */
    #top {
        position: fixed;
        left: 0; top: 0;
        width: 100%;
        box-shadow: 0 0.202em 0 0 rgba(227, 231, 232, 0.4);
        z-index: 99;
    }

    #top ul.nav {
        margin-right: 2em;
    }
    #top #navigation ul.nav {
        margin-right: 0;
    }

    /* NAVIGATION - reset */
    #navigation {
        clear: none;
        margin-bottom: 0;
        display: block;
    }

    /* NAVIGATION -=- Positioning Hacks -=- */
    #header #navigation {
        position: fixed; 
        top: 0; left: 50%;
        float: none;
        margin: 0 auto; 
        width: 75.998em;
        z-index: 101;
    }
    #header #navigation > ul.nav {
        position: absolute;
        top: 0; left: -37em;
        width: 100%;
        max-width: 58em;
        min-width: 56em;
    }

    /* CART && NAVIGATION */
    ul.nav li a {
        padding: 1.1em;
    }

    #top ul.nav li a,

    #wrapper #navigation ul.nav > li a,
    #wrapper #navigation ul.nav > li:hover a a, 
    #wrapper #navigation ul.nav > li.parent a, 
    #wrapper #navigation ul.nav > li.parent a:before, 
    #wrapper #navigation ul.nav > li.parent a:after, 
    /* LEVEL 2 */
    #wrapper #navigation ul.nav ul li a {
        border: none;
        border-radius: 0;
        background-color: transparent;
        color: rgb(0, 83, 94); /* @navColour */
    }

    /* Current && Hover - Cart and Nav */
    #top ul.nav li:hover a, 
    #top ul.nav li a:hover, 

    #wrapper #navigation ul.nav ul, 
    #wrapper #navigation ul.nav li:hover > a, 
    #wrapper #navigation ul.nav li a:hover, 

    #wrapper #navigation ul.nav li.current_page_item > a, 

    #wrapper #navigation ul.nav > li.parent a:hover:before, 
    #wrapper #navigation ul.nav > li.parent a:hover:after, 
    #wrapper #navigation ul.nav > li.parent:hover a:before, 
    #wrapper #navigation ul.nav > li.parent:hover a:after {
        border: none;
        border-radius: 0;
        color: rgb(0, 51, 204); /* @contentBlue */
        background: rgba(128, 213, 215,0.7); /* @bgrnavigation */
    }

    #wrapper #navigation ul.nav > li.parent:hover a:before, 
    #wrapper #navigation ul.nav > li.parent:hover a:after {
        background: transparent;
    }

    /* LEVEL 2 */
    #wrapper #navigation ul.nav ul {
        border: none;
        padding: 0;
        box-shadow: 0 0.202em 0 0 rgba(227, 231, 232, 0.4);
        -webkit-box-shadow: 0 0.202em 0 0 rgba(227, 231, 232, 0.4);
    }

    /* LEVEL 3 */
    #wrapper #navigation ul.nav ul ul {
        top:  0.1em;
    }





/*
**
** // layout.css
** 
*/


   /* hiding CHECKOUT Link and Product SEARCH in the Header */
    #top .nav .checkout a 
    /*, #top .nav .search */ { 
        display: none; 
    } 

    #top .wc-nav li.cart a {
        position: relative;
    }

    #top .wc-nav li.cart a .amount {
        margin-left:  .5em;
    }

    /* ITEMS IN CART */
    #top .wc-nav li.cart a .contents {
        display: block;
        overflow: hidden;
        position: absolute;
        top: 8px; left: 0;
        margin: 0;
        padding: 0;
        width: 2em;
        height: 1em;
        line-height: 1.2em;
        background: transparent;
    }



    /* RPODUCT LISTS width */
     ul.products li.product {
        width: 88.05%;
        text-align: left;
      }



    /* SEATCH */
    .search_main .field.s { display: inline; width:  70%; }
    .search_main #searchsubmit { display: none; width: 25%; }





    /* COLOURS */
    body {
        background-color: rgb(182, 213, 215); /* @bgrPage: */
    }

    .page-background {
        /*background: url(/wp-content/uploads/2013/07/beautiful-purple-orange-butterfly-252250.jpg) no-repeat top left;*/
        background-image: url(http://www.zfdesign.net/zfd-work/RobertRussell/TAG/WordPress/MystyleWT/wp-content/uploads/2013/07/beautiful-purple-orange-butterfly-252250.jpg), url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAG0lEQVQIW2NkYGAwBuKzQAwGjDAGNgGwSgwVAFCGAgUGpiTrAAAAAElFTkSuQmCC);
        background-repeat:  no-repeat, repeat;
        background-position:  top left, top left;
        min-height: 70%;
        min-width: 1024px;
	
        /* Set up proportionate scaling */
        width: 100%;
        height: auto;
	
        /* Set up positioning */
        position: fixed;
        top: 0;
        left: 0;
    }

    #wrapper {
        position: relative;
        /*background: rgba(252, 252, 252,.2);*/
    }

    #top { 
        background: rgba(128, 213,215,0.7) ;
    }

    #content {
        background: rgba(255, 255, 255, 0.85);
    }


    /* Basket Navigation */
    #top ul.nav > li a:hover { 
        color: rgb(0, 51, 204); 
    }
    
	h1, h2, h3 {
		color: rgb(0, 51, 204); 
	}


    .post .post-meta li a, .type-page .post-meta li a {
        color:  #0093dd;
    }




}