/* 
WOO CUSTOM STYLESHEET
---------------------

Instructions:

Add your custom styles in this file instead of style.css so it 
is easier to update the theme. Simply copy an existing style 
from style.css to this file, and modify it to your liking. */


/* 
GLOBAL STYLES
----------------
Add styles beneath this line that you want to be applied across your entire site */


/* 
DESKTOP STYLES
-----------------
Add styles inside the media query below that you only want to be applied to the desktop layout of your site */


/* 
COLOURS USED
------------
Keep a reference for easy updates 
TODO: Update to .less mixins

@bgrPage: 		rgb(182, 213, 215); 	//
@bgrContent: 	rgba(255, 255, 255, 0.85); 	// 
@bgrFooter: 	rgba(0,0,0,0.2); 		// 
@bgrFeature:    rgb(219, 234, 235);     //

@bodyColor; 	#000;
@contentBlue: 	rgb(0, 51, 204); 		// #03C
@contentGreen: 	rgb(0, 153, 0); 		// #090
@contentRed: 	rgb(255, 51, 51); 		// #F33

// Headings:
@headingBlue: 	@contentBlue; 
@headingGreen: 	@contentGreen;

// Buttons and Navigation
@bgrnavigation: rgba(128, 213,215,0.7); // 
@navColour: 	rgb(0, 83, 94); 		// #00535E

@buttonColor:   rgba(0,0,0,0.2);

@footerGreen: 	@navColour;

*/


@media only screen and (min-width: 768px) {


/*
**
** // layout.css
** 
*/

    /* ".layout-full" */
    .layout-full #content #main {
        width:  94%;
        padding: 1.5em 3% 0 3%;
    }

    /* ".layout-left-content" && ".layout-right-content" */
    .layout-left-content #content #main, 
    .layout-right-content #content #main {
        width:  69.2%;
        padding: 1.5em 3% 0 3%;
    }

    #sidebar {
        margin: 3em 1em 0 0;
    }


    /* Header */
    #header {
        border-bottom: none;
        margin-top: 3.631em;
        margin-bottom: 0;
    }

    #header hgroup {
        margin-bottom: 0;
        margin-top: 1.618em;
    }

    /* Footer */
    .footer-wrap section > div:first-child {
        padding-left: 1em;
    }

    #footer-widgets.col-4 .block {
        width:  21.5%;
    }


	/* Navigation and Cart */
    .admin-bar #top {
        top: 2em;
    }

    .admin-bar #header #navigation {
        /*top: 2em;*/
    }


    /* #top .nav .amount, * /
    #top .nav .checkout a, 
    #top .nav .search {
      display: none;
    }
    #header #navigation {
      position: absolute; 
      top: 0; left: 0;
      float:none;
    }

     ul.products li.product {
        width: 88.05%;
        text-align: left;
      }

    .search_main .field.s { display: inline }

    .search_main #searchsubmit { display: none; }


    /* CART */
    #top {
        position: fixed;
        left: 0; top: 0;
        width: 100%;
        box-shadow: 0 0.202em 0 0 rgba(227, 231, 232, 0.4);
        z-index: 120;
    }

    #top ul.nav {
        margin-right: .5em;
        float: right;
    }


    /* User Account */
    #top #top-nav > li > a {
        position: relative;
        padding-left: 22px;
    }

    #top #top-nav > li > a:before {
        position: absolute;
        top: 16px; left: 2px;

        font-family: 'WebSymbolsRegular';
        font-size: 1em;
        font-weight: normal;
        content: "U"
    }



    /* SITE NAVIGATION */
    #header #navigation {
        clear: none;
        display: block;
        position: absolute; 
        top: 0; left: 0;
        float: none;
        margin: 0 auto; 
        width: 100%;
        z-index: 101;
    }

    #header #navigation > ul.nav {
        float: none;
        width: 75.998em;
    }


    /* CART && NAVIGATION */
    ul.nav li a {
        padding: 1.1em;
    }

    #top ul.nav li a,

    #wrapper #navigation ul.nav > li a,
    #wrapper #navigation ul.nav > li:hover a a, 
    #wrapper #navigation ul.nav > li.parent a, 
    #wrapper #navigation ul.nav > li.parent a:before, 
    #wrapper #navigation ul.nav > li.parent a:after, 
    /* LEVEL 2 */
    #wrapper #navigation ul.nav ul li a {
        border: none;
        border-radius: 0;
        background-color: transparent;
        color: rgb(0, 83, 94); /* @navColour */
    }

    /* Current && Hover - Cart and Nav */
    #top ul.nav li:hover a, 
    #top ul.nav li a:hover, 

    #wrapper #navigation ul.nav ul, 
    #wrapper #navigation ul.nav li:hover > a, 
    #wrapper #navigation ul.nav li a:hover, 

    #wrapper #navigation ul.nav li.current_page_item > a, 

    #wrapper #navigation ul.nav > li.parent a:hover:before, 
    #wrapper #navigation ul.nav > li.parent a:hover:after, 
    #wrapper #navigation ul.nav > li.parent:hover a:before, 
    #wrapper #navigation ul.nav > li.parent:hover a:after {
        border: none;
        border-radius: 0;
        color: rgb(0, 51, 204); /* @contentBlue */
        background: rgba(128, 213, 215,0.7); /* @bgrnavigation */
    }

    #wrapper #navigation ul.nav > li.parent:hover a:before, 
    #wrapper #navigation ul.nav > li.parent:hover a:after {
        background: transparent;
    }

    /* LEVEL 2 */
    #wrapper #navigation ul.nav ul {
        border: none;
        padding: 0;
        box-shadow: 0 0.202em 0 0 rgba(227, 231, 232, 0.4);
        -webkit-box-shadow: 0 0.202em 0 0 rgba(227, 231, 232, 0.4);
    }

    /* My Account LEVEL 2 */
    ul.nav ul {
        left: initial;
        right: 0;
    }

    /* LEVEL 3 */
    #wrapper #navigation ul.nav ul ul {
        top:  0.1em;
    }

    /* May Account - LEVEL 3 */
    #top ul.nav ul ul {
        left: -15.379em;
    }


   /* hiding CHECKOUT Link and Product SEARCH in the Header */
    #top .nav .checkout a, 
    #top .nav .search { 
        display: none; 
    } 

    #top .wc-nav li.cart a {
        position: relative;
    }

/*
    #top .wc-nav li.cart a .amount {
        margin-left:  .5em;
    }
*/
    /* ITEMS IN CART * /
    #top .wc-nav li.cart a .contents {
        display: block;
        overflow: hidden;
        position: absolute;
        top: 8px; left: 0;
        margin: 0;
        padding: 0;
        width: 2em;
        height: 1em;
        line-height: 1.2em;
        background: transparent;
    }
*/

    /* RPODUCT LISTS ".layout-full" width * /
    .layout-full ul.products li.product {
        width: 98%;
        text-align: left;
    }

   .layout-full ul.products li.product img {
        margin: auto 1em 1em auto;
        max-width: 150px;
        float: left;
    }

    ul.products .star-rating {
        margin: .5em;
    }
*/

    /* RPODUCT LISTS ".layout-left-content" width * /
    .layout-left-content ul.products li.product,
    .layout-right-content ul.products li.product {
        width: 98%;
        text-align: left;
    }

   .layout-left-content ul.products li.product img, 
   .layout-right-content ul.products li.product img {
        margin: auto 1em 1em auto;
        max-width:  150px;
        float: left;
    }
*/


    /* SEARCH * /
    .search_main .field.s { display: inline; width:  70%; }
    .search_main #searchsubmit { display: none; width: 25%; }
*/




    /* COLOURS */
    body {
        background-color: rgb(182, 213, 215); /* @bgrPage: */
    }

    .page-background {
        /*background-image: url(/wp-content/uploads/2013/08/background-green-leaf.jpg), url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAG0lEQVQIW2NkYGAwBuKzQAwGjDAGNgGwSgwVAFCGAgUGpiTrAAAAAElFTkSuQmCC);*/
        background-image: url(http://www.zfdesign.net/zfd-work/RobertRussell/TAG/WordPress/MystyleWT/wp-content/uploads/2013/07/background-green-leaf.jpg), url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAG0lEQVQIW2NkYGAwBuKzQAwGjDAGNgGwSgwVAFCGAgUGpiTrAAAAAElFTkSuQmCC);
        background-repeat:  no-repeat, repeat;
        background-position:  top left, top left;
        min-height: 80%;
        min-width: 1024px;
	
        /* Set up proportionate scaling */
        width: 100%;
        height: auto;
	
        /* Set up positioning */
        position: fixed;
        top: 0;
        left: 0;
        opacity: 1;
        -webkit-transition: top 1s ease-in;
           -moz-transition: top 1s ease-in;
             -o-transition: top 1s ease-in;
                transition: top 1s ease-in;
    }
    body[class*="scroll1"] .page-background { 
        opacity: .8; top: -20%; 
        -webkit-transition: top .75s ease-out;
           -moz-transition: top .75s ease-out;
             -o-transition: top .75s ease-out;
                transition: top .75s ease-out;
    }
    body[class*="scroll2"] .page-background { 
        opacity: .6; top: -40%; 
        -webkit-transition: top .75s ease-out;
           -moz-transition: top .75s ease-out;
             -o-transition: top .75s ease-out;
                transition: top .75s ease-out;
    }
    body[class*="scroll3"] .page-background { 
        opacity: .4; top: -60%; 
        -webkit-transition: top .75s ease-out;
           -moz-transition: top .75s ease-out;
             -o-transition: top .75s ease-out;
                transition: top .75s ease-out;
    }
    body[class*="scroll4"] .page-background { 
        opacity: .2; top: -80%; 
        -webkit-transition: top .75s ease-out;
           -moz-transition: top .75s ease-out;
             -o-transition: top .75s ease-out;
                transition: top .75s ease-out;
    }
    body[class*="scroll5"] .page-background, body[class*="scroll6"] .page-background,
    body[class*="scroll7"] .page-background, body[class*="scroll8"] .page-background,
    body[class*="scroll9"] .page-background { opacity: 0; top: -100%; 
        -webkit-transition: top .75s ease-out;
           -moz-transition: top .75s ease-out;
             -o-transition: top .75s ease-out;
                transition: top .75s ease-out;
    }


    #wrapper {
        position: relative;
        /*background: rgba(252, 252, 252,.2);*/
    }

    #top {
        background: rgba(255, 255, 255, 0.85); 
    }

    #header #navigation {
        background: rgba(128, 213, 215, 0.7);
    }

    #content, .footer-wrap section {
        background: rgba(255, 255, 255, 0.85);
    }

    
    a, a h3
     {
        color: rgb(0, 83, 94);
    }

    /* Basket Navigation */
    a:hover, #top ul.nav > li a:hover, 
    ul.products li.product a:hover h3 { 
        color: rgb(0, 51, 204); 
    }navigation
    


	h1, h2 {
		color: rgb(0, 51, 204); 
	}

    h3 {
        color: rgb(0, 153, 0);
    }

    .post .post-meta li a, .type-page .post-meta li a {
        color:  #0093dd;
    }


    .footer-wrap {
        background: none;
    }

    



} /* // @media - 768px */