/* 
WOO CUSTOM STYLESHEET
---------------------

Instructions:

Add your custom styles in this file instead of style.css so it 
is easier to update the theme. Simply copy an existing style 
from style.css to this file, and modify it to your liking. */


/* 
GLOBAL STYLES
----------------
Add styles beneath this line that you want to be applied across your entire site */


/* 
DESKTOP STYLES
-----------------
Add styles inside the media query below that you only want to be applied to the desktop layout of your site */



/* 
TAG ICONS
---------
Uses custom Icon font
*/
@import "custom-icon-font.css";

@media only screen and (min-width: 768px) {

/*
**
** LAYOUT
** 
*/

	/* NAVIGATION AND CART */
    .admin-bar #top { /* admin bar visible */
        top: 2em;
    }

    /* CART */
    #top {
        position: fixed;
        left: 0; top: 0;
        width: 100%;
        box-shadow: 0 0.202em 0 0 rgba(227, 231, 232, 0.4);
        z-index: 120;
    }

    #top ul.nav {
        margin-right: .5em;
        float: right;
    }

    #top ul.nav li a,
    #top .wc-nav li.cart a {
        padding: .5em;
    }


    /* USER ACCOUNT */
    #top #top-nav > li > a {
        position: relative;
        padding-left: 22px;
    }

    #top #top-nav > li > a:before {
        position: absolute;
        top: 5px; left: 2px;

        font-family: 'WebSymbolsRegular';
        font-size: 1em;
        font-weight: normal;
        content: "U"
    }


    /* HEADER */
    #header {
        border-bottom: none;
        margin-top: 2.32em;
        margin-bottom: 0;
        min-height: 19em;
    }

    #header hgroup {
        margin-bottom: 0;
        margin-top: 5.618em;
    }


    /* SITE NAVIGATION */
    #header #navigation {
        clear: none;
        display: block;
        position: absolute; 
        top: 0; left: 0;
        float: left;
        margin: 0 auto; 
        width: 100%;
        z-index: 101;
    }

    #header #navigation > ul.nav {
        float: none;
        width: 100%;
        max-width: 75.998em;
    }


    /* CART && NAVIGATION */
    ul.nav li a {
        padding: 1.1em;
    }

    /* HIDE Login link when logged in */
    .logged-in ul#top-nav li.menu-item-type-custom {
        display: none;
    }

    /* My Account LEVEL 2 */
    ul.nav ul {
		width: 16.379em;
        left: initial;
        right: 0;
    }

    /* LEVEL 3 */
    #wrapper #navigation ul.nav ul ul {
        top:  0.1em;
    }

    /* Navigation Level 3rd iPad bug - Note: Site specific */
    @media only screen and (max-width: 768px) {
        #header #navigation ul.nav ul ul {
            left: -16.379em;
        }
    }

    /* My Account - LEVEL 3 */
    #top ul.nav ul ul {
        left: -16.379em;
    }

   /* hiding CHECKOUT Link and Product SEARCH in the Header */
    #top .nav .checkout a, 
    #top .nav .search { 
        display: none; 
    } 

    #top .wc-nav li.cart a {
        position: relative;
    }



	/* PAGE CONTENT */
	#main {
		padding: 1.5em 3% .5em 3%;   	
	}
   
    /* ".layout-full" */
    .layout-full #content #main {
        width:  94%;
        padding: 1.5em 3% .5em 3%;
    }

    /* ".layout-left-content" && ".layout-right-content" */
    .layout-left-content #content #main {
        float: left;
    }
    .layout-right-content #content #main {
        float: right;
    }


    #sidebar {
        margin: 3em 1em 0 0;
    }


    /* Contact page */
    #connect .social {
        display: block;
        clear: left;
    }


    /* FOOTER */
    .footer-wrap section > div:first-child {
        padding-left: 1em;
    }

    #footer-widgets.col-4 .block {
        width:  21.5%;
    }

	.footer-wrap ul, #sidebar ul {
		margin-left: 0;	
	}
	
    /* Search and Subscribe in Footer */
    .footer-wrap input.s, 
    .footer-wrap input.email {
        max-width: 55%;
    }



    /* PRODUCTS */
    .single-product .images {
        width: 29%;
    }

    .single-product .summary {
        width: 69%;
    }

    ul.products li.product img {
        width: 80%;
    }

    /* TODO: add a badge icon with type of product */


    ul, ol {
        margin-left:  1.7em;
    }



/*
**
** COLOURS
** 
*/


/* 
COLOURS USED
------------
Keep a reference for easy updates 
TODO: Update to .less mixins

@pageBackground: 		rgb(220, 240, 220); 
@contentBackground: 	rgba(255, 255, 255, 0.85); 
@FooterBackground: 		rgba(0,0,0,0.2); 
@featureBackground:    	rgb(219, 234, 235);
@bodyColor: 			#686868;

@logoGreen: 			rgb(0, 164, 79); 		// #08A54E 
@logoGrey: 				rgb(180, 180,180); 		// #B4B4B4
@contentGreen: 			@logoGreen;				// #08A54E
@contentRed: 			rgb(255, 51, 51); 		// #F33


// Navigation, Links, Buttons
@navBackground: 		rgba(253, 253, 253, 0.47); 
@vavActiveBackground: 	rgb(255, 255, 255);		// #FFFFFF
@navColor: 				rgb(0, 83, 94); 		// #00535E

@linkBlue: 				rgb(0, 51, 204); 		// #03C
// Active
@navColorActive: 	 	@contentGreen; 			// #08A54E

@buttonColor:   		rgba(0,0,0,0.2);

// Headings:
@headingBlue: 			@linkBlue; 
@headingGreen: 			@contentGreen;


@footerGreen: 	@navColour;
*/


	body {
		background-color: rgb(220, 240, 220); /* @pageBackground: */
		color: #686868; /* @bodyColor */
	}

	.page-background {
		background-image: url('/2013/wp-content/uploads/2013/11/tag-background01.jpg'),
		url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAG0lEQVQIW2NkYGAwBuKzQAwGjDAGNgGwSgwVAFCGAgUGpiTrAAAAAElFTkSuQmCC');
		background-repeat:  no-repeat, repeat;
		background-position: top left, top left;
		min-height: 100%;
		min-width: 1024px;
		
		/* Set up proportionate scaling */
		height: auto;
		width: 100%;
        background-size: 100% auto;

		/* Set up positioning */
		position: fixed;
		top: 0;
		left: 0;
	}

	.page-background:after {
		position:absolute;
		z-index: 10;
		top:0; left:0;
		content: "";
		width: 100%;
		background: -moz-linear-gradient(top, rgba(220,240,220,0) 80%, rgba(220,240,220,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(80%,rgba(220,240,220,0)), color-stop(100%,rgba(220,240,220,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, rgba(220,240,220,0) 80%,rgba(220,240,220,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, rgba(220,240,220,0) 80%,rgba(220,240,220,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, rgba(220,240,220,0) 80%,rgba(220,240,220,1) 100%); /* IE10+ */
		background: linear-gradient(to bottom, rgba(220,240,220,0) 80%,rgba(220,240,220,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00dcf0dc', endColorstr='#dcf0dc',GradientType=0 ); /* IE6-9 */		
	}



    @-webkit-keyframes blurAnim {
	    0% {
		    -webkit-filter: grayscale(0) blur(1) opacity(0);
                    filter: grayscale(0) blur(1) opacity(0);
	    }
	    100% {
		    -webkit-filter: grayscale(.2) blur(4px) opacity(.7);
                    filter: grayscale(.2) blur(4px) opacity(.7);
	    }
    }

    .blur .page-background {

	     animation-name: blurAnim;
	     animation-duration: 1s;
	     animation-iteration-count: 1;
	     animation-direction: alternate;
	     animation-timing-function: ease-out;
	     animation-delay: 0.2s; 

	     -webkit-animation-name: blurAnim;
	     -webkit-animation-duration: 1s;
	     -webkit-animation-iteration-count: 1;
	     -webkit-animation-direction: alternate;
	     -webkit-animation-timing-function: ease-out;
	     -webkit-animation-fill-mode: forwards;
	     -webkit-animation-delay: 0.2s;
    }



	#wrapper {
		position: relative;
	}


	#top, #header #navigation,
	#content, .footer-wrap section {
		background: rgba(255, 255, 255, 0.9);
	}



	/* Links and Navigation */
			
	a, a h3,
	.post .post-meta li a, 
	.type-page .post-meta li a {
		color: rgb(0, 83, 94); /* @navColor */
	}
	
	a:hover, #top ul.nav > li a:hover, 
	ul.products li.product a:hover h3,
	.post .post-meta li a:hover, .type-page .post-meta li a:hover,  
	.single-product .summary .product_meta a:hover { 
		color: rgb(0, 164, 79); /* @logoGreen */ 
	}


	/* Main Navigation Levels and States */
    #top ul.nav li a,

    #wrapper #navigation ul.nav > li a,
    #wrapper #navigation ul.nav > li:hover a a, 
    #wrapper #navigation ul.nav > li.parent a, 
    #wrapper #navigation ul.nav > li.parent a:before, 
    #wrapper #navigation ul.nav > li.parent a:after, 
    /* LEVEL 2 */
    #wrapper #navigation ul.nav ul li a {
        border: none;
        border-radius: 0;
        background: transparent;
        color: rgb(0, 83, 94); /* @navColor */
    }

    /* CURRENT && HOVER - Cart and Nav */
    #top ul.nav li:hover > a, 
    #top ul.nav li > a:hover, 

    #top ul.nav li.current_page_ancestor > a, 
    #top ul.nav li.current_page_ancestor > a:after, 
    #top ul.nav li.current_page_ancestor > a:before,
 
    #top ul.nav li.current_page_parent > a, 
    #top ul.nav li.current_page_parent > a:after, 
    #top ul.nav li.current_page_parent > a:before, 

    #top ul.nav li.current_page_item > a, 
    #top ul.nav li.current_page_item > a:after, 
    #top ul.nav li.current_page_item > a:before, 



/*    #wrapper #navigation ul.nav ul, */
    #wrapper #navigation ul.nav li:hover > a, 
    #wrapper #navigation ul.nav li a:hover, 

    #wrapper #navigation ul.nav li.current_page_ancestor > a, 
    #wrapper #navigation ul.nav li.current_page_ancestor > a:before, 
    #wrapper #navigation ul.nav li.current_page_ancestor > a:after, 

    #wrapper #navigation ul.nav li.current_page_item > a, 
    #wrapper #navigation ul.nav li.current_page_item > a:before, 
    #wrapper #navigation ul.nav li.current_page_item > a:after, 

    #wrapper #navigation ul.nav > li.current_page_parent > a, 
    #wrapper #navigation ul.nav > li.current_page_parent > a:before, 
    #wrapper #navigation ul.nav > li.current_page_parent > a:after, 

    #wrapper #navigation ul.nav > li.parent a:before:hover, 
    #wrapper #navigation ul.nav > li.parent a:after:hover, 
    #wrapper #navigation ul.nav > li.parent:hover a:before, 
    #wrapper #navigation ul.nav > li.parent:hover a:after {
        border: none;
        border-radius: 0;
        color: rgb(0, 164, 79); /* @logoGreen */
        background: rgb(255, 255, 255); /* @vavActiveBackground */
    }

    #wrapper #navigation ul.nav > li.parent:hover a:before, 
    #wrapper #navigation ul.nav > li.parent:hover a:after {
        background: transparent;
    }

    /* LEVEL 2 */
    #wrapper #navigation ul.nav ul {
        border: none;
        padding: 0;
		background: rgba(255, 255, 255, 0.85); /* @contentBackground: */
        box-shadow: 0 0.202em 0 0 rgba(227, 231, 232, 0.4);
        -webkit-box-shadow: 0 0.202em 0 0 rgba(227, 231, 232, 0.4);
    }


    /* Top Nav Icons */
    #top ul.nav ul li a {
        position: relative;
        padding-left: 1.3em;
    }
    #top ul.sub-menu li.parent > a:before {
        position: absolute;
        top: 0.7em; left: -.2em;
        font-family: 'WebSymbolsRegular';
        display: inline-block;
        font-size: .857em;
        margin-left: .618em;
        content: "(";
        font-weight: normal;
    }


    /* HOME Icon */
    #header #navigation .nav > li:first-child {
        position: relative;
        min-width: 54px;
        height: auto;
        overflow: hidden;
    }
    #header #navigation .nav > li:first-child a {
        margin-left: -999px;
    }
	
    #header #navigation .nav > li:first-child a:before {
        font-family: 'TAG001';
        font-size: 2.2em;
        font-weight: normal;
        position: absolute;
        left: 1008px; 
        top: 0; /* Same as "ul.nav li a" padding */
        content: "\e008";
        width: 20px;
        height: 20px; 
    }

    #header #navigation .nav > li:first-child a:hover:before,
    .home #header #navigation .nav > li.current_page_item a:before {
        background-position: 0 0;
    }

	h1, h2, h3, h4, h5, h6 {
		font-family: Helvetica, Verdana, Arial, sans-serif;
	}

	h1 {
		color: rgb(180, 180,180); /* @logoGrey */
		font-size: 2.844em;
	}

    #main h1 {
        text-shadow: 1px 1px 1px rgba(50, 50, 50, .75);
    }
	
	h2 {
		font-size: 2.013em;
	}

	h2, h3, h4, h5, h6 {
		color:  rgb(0, 164, 79); /* @logoGreen */
	}


	.type-post .meta .month {
		background: rgb(0, 164, 79); /* @logoGreen */
	}

	.footer-wrap {
		background: none;
	}



	/* THEME COLOURS OVERWRITE */

	/* Basketr Minus/Plus buttons */
	div.quantity .plus, div.quantity .minus, 
	div.quantity .plus:hover, div.quantity .minus:hover {
		color: rgb(0, 164, 79); /* @contentGreen */
	}

	/* Messages */
	.woocommerce_message, .woocommerce-message {
	border-color: rgb(0, 164, 79); /* @contentGreen */
	}


	/* product tabs */
	.woocommerce_tabs ul.tabs li.active:before, .woocommerce-tabs ul.tabs li.active:before {
		background: rgb(0, 164, 79); /* @contentGreen */
		border-top: 1px solid rgb(0, 164, 79); /* @contentGreen */
	}
	.woocommerce_tabs ul.tabs li.active a , .woocommerce-tabs ul.tabs li.active a, 
	.woocommerce_tabs ul.tabs li.active:before, .woocommerce-tabs ul.tabs li.active:before,
	.woocommerce_tabs ul.tabs li.active a:hover , .woocommerce-tabs ul.tabs li.active a:hover, 
	.woocommerce_tabs ul.tabs li a:hover, .woocommerce-tabs ul.tabs li a:hover {
		color: rgb(0, 164, 79); /* @contentGreen */
		border-top-color: rgb(0, 164, 79); /* @contentGreen */
	}

	/* Sale Badge */
	.onsale {
		background: rgb(0, 164, 79); /* @contentGreen */
	}


	/* Buttons */
	a.button, a.comment-reply-link, 
	#commentform #submit, .submit, input[type=submit], 
	input.button, button.button {
		border: 1px solid rgb(0, 220, 0); 
		text-shadow: 0 1px 0 rgb(0, 120, 0); 
		background-color: rgb(0, 164, 79); /* @contentGreen */
		background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(0, 244, 0)), to(rgb(0, 164, 79)));
		background-image: -webkit-linear-gradient(top, rgb(0, 244, 0), rgb(0, 164, 79));
		background-image: -moz-linear-gradient(top, rgb(0, 244, 0), rgb(0, 164, 79));
		background-image: -ms-linear-gradient(top, rgb(0, 244, 0), rgb(0, 164, 79));
		background-image: -o-linear-gradient(top, rgb(0, 244, 0), rgb(0, 164, 79));
		background-image: linear-gradient(to bottom, rgb(0, 244, 0), rgb(0, 164, 79));
		-webkit-box-shadow: 0 0 0 0.327em rgba(0, 0, 0, 0.075), 0 1px 2px rgba(0, 0, 0, 0.2), inset 0 1px rgb(0, 220, 0), inset 0 -1px rgb(0, 120, 0);
		box-shadow: 0 0 0 0.327em rgba(0, 0, 0, 0.075), 0 1px 2px rgba(0, 0, 0, 0.2), inset 0 1px rgb(0, 220, 0), inset 0 -1px rgb(0, 120, 0);
	}

	a.button:hover, a.comment-reply-link:hover, 
	#commentform #submit:hover, .submit:hover, input[type=submit]:hover, 
	input.button:hover, button.button:hover {
		color:  #fff;
		background-color: rgb(0, 240, 0);
		background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(0, 244, 0)), to(rgb(0, 220, 0)));
		background-image: -webkit-linear-gradient(top, rgb(0, 244, 0), rgb(0, 220, 0));
		background-image: -moz-linear-gradient(top, rgb(0, 244, 0), rgb(0, 220, 0));
		background-image: -ms-linear-gradient(top, rgb(0, 244, 0), rgb(0, 220, 0));
		background-image: -o-linear-gradient(top, rgb(0, 244, 0), rgb(0, 220, 0));
		background-image: linear-gradient(to bottom, rgb(0, 244, 0), rgb(0, 220, 0));
	}

	a.button:active, a.comment-reply-link:active, 
	#commentform #submit:active, .submit:active, input[type=submit]:active, 
	input.button:active, button.button:active {
		color:  #fff;
		background-color: rgb(0, 120, 0);
		background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(0, 164, 79)), to(rgb(0, 244, 0)));
		background-image: -webkit-linear-gradient(top, rgb(0, 164, 79), rgb(0, 244, 0));
		background-image: -moz-linear-gradient(top, rgb(0, 164, 79), rgb(0, 244, 0));
		background-image: -ms-linear-gradient(top, rgb(0, 164, 79), rgb(0, 244, 0));
		background-image: -o-linear-gradient(top, rgb(0, 164, 79), rgb(0, 244, 0));
		background-image: linear-gradient(to bottom, rgb(0, 164, 79), rgb(0, 244, 0));
	}

} /* // @media - 768px */

/* WOO Overrides */
ul.products li.product .price {
	line-height: 0;
	overflow: hidden;
}

.widget ul.product_list_widget li img {
    width: 4em;
    height: auto;
    margin: .5em 0 0 .5em;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.post img.thumbnail, .type-page img.thumbnail {
    border-bottom: 0.327em solid rgb(0, 164, 79) !important;
}
